<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Voice Recorder</title>
    <script src="https://cdn.jsdelivr.net/npm/@ffmpeg/ffmpeg@latest"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="../static/css/index.css" />
  </head>
  <body>
    <div class="recorder-container">
      <h1>Voice Recorder</h1>
      <div class="mic-icon">
        <div class="outer-circle"></div>
        <img src="../static/img/microfono.png" alt="Microphone Icon" />
      </div>
      <div class="waveform" id="waveform">00:00:00</div>
      <div class="control-checkbox">
        <label for="controlCheckbox">
          <input type="checkbox" id="controlCheckbox" name="controlCheckbox" />
          Control
        </label>
      </div>
      <div class="controls">
        <button id="recordBtn" class="edit-btn">
          <i class="fa-regular fa-circle-play"></i>
        </button>
        <button id="stopBtn" class="stop-btn">
          <i class="fa-regular fa-circle-stop"></i>
        </button>
      </div>

      <audio id="audioPlayback" controls></audio>
      <div id="message" class="mt-3"></div>

      <div id="results" class="results-container">
        <h2>Extracted Fields</h2>
        <table id="fieldsTable" class="result-table">
          <thead>
            <tr>
              <th>Field Name</th>
              <th>Field Value</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody id="fields"></tbody>
        </table>
        <button id="sendBtn">Enviar</button>
      </div>
    </div>
    <script src="../static/js/audio.js"></script>
  </body>
</html>
